appnope==0.1.2
attrs==20.3.0
Automat==20.2.0
backcall==0.2.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
configparser==5.0.1
constantly==15.1.0
coverage==5.4
coveralls==3.0.0
cryptography==3.3.1
decorator==4.4.2
docopt==0.6.2
future==0.18.2
genson==1.2.2
hyperlink==21.0.0
hypothesis==6.1.0
idna==2.10
incremental==17.5.0
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.0.0
jsonschema==3.2.0
mock==4.0.3
nltk==3.5
numpy==1.19.5
packaging==20.9
pandas==1.2.1
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.14
ptyprocess==0.7.0
py==1.10.0
pycparser==2.20
Pygments==2.7.4
PyHamcrest==2.0.2
pyodbc==4.0.30
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
tabpy==2.3.1
textblob==0.15.3
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
Twisted==20.3.0
urllib3==1.26.3
wcwidth==0.2.5
zope.interface==5.2.0
